extends layout.pug

block content
  .w3-container
    h2 Atores (#{atores.length})
    table.w3-table-all
      tr.w3-teal
        th Id
        th Nome
        th Nº de Filmes
      each a in atores
        tr
          td
            a(href=`/atores/${a.id}`)= a.id
          td
            a(href=`/atores/${a.id}`)= a.nome
          td= a.filmes.length
