doctype html
html
  head
    title Cinema 
    meta(charset='UTF-8')
    link(rel='icon' href='/images/favicon.png')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    block content
    footer.w3-container.w3-teal.w3-margin-top
      h5 Cinema | 
        a(href='https://epl.di.uminho.pt/~jcr/AULAS/EngWeb2026/') EngWeb2026, #{date}
      